project1/src/main/mule/project1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5105d08-e5db-4330-9850-1ebb389980e6" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="e6530d45-818b-4eab-922c-06fd0ccbacdb" file="dev.yaml" />
	<file:config name="File_Config" doc:name="File Config" doc:id="456bbda7-b05c-4d85-82b2-25383ebb0371" >
		<file:connection />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="d21c4a27-d465-4b1b-bce7-a7b25a119ef6" />
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="5a02e323-a7e2-452b-8c84-df3d68cbe6b9" >
		<vm:connection />
		<vm:queues >
			<vm:queue queueName="mque" />
		</vm:queues>
	</vm:config>
	<flow name="project1Flow" doc:id="c7f82ab2-3e2e-4dad-9bb6-b4d456e6184f" >
		<http:listener doc:name="Listener" doc:id="988fa657-33c9-4380-a047-22cbb58893e0" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="c04bcf2c-679e-4ef8-9c8c-2a3ffc544faa" message="main flow"/>
		<vm:publish doc:name="Publish" doc:id="f0cf7703-1388-475a-aee9-abc15da1ddbc" config-ref="VM_Config" queueName="mque"/>
		<ee:transform doc:name="Transform Message" doc:id="89e4fc3a-16bd-47a8-9c7e-88e301012491" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

1 to 5 map
{
	"id":'0 to $$',
	"name": "sriakant",
	"lname":"thsn",
	"phone": "465323"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9901bc18-37d4-49a6-aac2-535d3b54f9d2" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="6a59bc8a-d273-411a-94cf-aca63845df50" name="Sub_Flow"/>
		<async doc:name="Async" doc:id="8af54ea4-c7ff-4e39-90b0-d82a19527f4e" >
			<ee:transform doc:name="Transform Message" doc:id="3a105bb3-6ccc-4726-a729-ea6a78ed6a98" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
    {
        "id": 4,
        "name": "sairam",
        "lname": "om",
        "phone": "7416642955"
    },
    {
        "id": 5,
        "name": "ram",
        "lname": "rama",
        "phone": "789654123"
    },
    {
        "id": 6,
        "name": "sairam",
        "lname": "om",
        "phone": "7416642955"
    },
    {
        "id": 7,
        "name": "ram",
        "lname": "rama",
        "phone": "789654123"
    },{
        "id": 8,
        "name": "sairam",
        "lname": "om",
        "phone": "7416642955"
    },
    {
        "id": 9,
        "name": "ram",
        "lname": "rama",
        "phone": "789654123"
    }]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<parallel-foreach doc:name="Parallel For Each" doc:id="b96181ee-e30d-4932-bf9e-87543ceec88b" >
				<logger level="INFO" doc:name="Logger" doc:id="fc8a095b-00ea-4850-a7ce-bdd7b1acdf72" message="#[payload]" />
			</parallel-foreach>
			<flow-ref doc:name="Flow Reference" doc:id="7481ce8d-a852-462d-87b5-6a5a4338ce4a" name="privateFlow1"/>
			<logger level="INFO" doc:name="Logger" doc:id="324e137c-72aa-43dc-b23e-aa4ac718344d" message="async"/>
		</async>
	</flow>
	<flow name="project1Flow3" doc:id="1c5f597a-a98e-4fb2-b646-632716e154a3" >
		<vm:consume queueName="mque" doc:name="Consume" doc:id="dc954c6d-d488-4b95-956f-225befa9d501" config-ref="VM_Config" timeout="50"/>
	</flow>
	<flow name="project1Flow2" doc:id="64cf09dc-aca6-4087-8f01-69e01dc5e6c7" >
		<vm:listener queueName="mque" doc:name="Listener" doc:id="80b28db4-b4a3-4e36-a022-cad059856511" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="49d15ea7-61b6-4cc9-ad97-09fb01158171" message="#[payload]"/>
	</flow>
	<flow name="project1Flow1" doc:id="6735076f-b7e9-45f9-be45-0f88c9a16554" >
		<file:listener doc:name="On New or Updated File" doc:id="925ed9c9-f5ab-4eb3-a0a8-c4ace81105e5" config-ref="File_Config" directory="C:\Users\Srika\OneDrive\Desktop\source1" moveToDirectory="C:\Users\Srika\OneDrive\Desktop\target1">
			<scheduling-strategy >
				<fixed-frequency frequency="40" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="ba73149b-63a3-412e-8b76-7ed97f4a52b0" message="#[payload]"/>
	</flow>
	<sub-flow name="Sub_Flow" doc:id="b71ac99a-6c15-4b79-8cdd-5e1f22d0c326">
		<file:read doc:id="59ed9212-a422-47b2-ac64-e8973a7040a6" config-ref="File_Config" path="C:\Users\Srika\OneDrive\Desktop\target1\tranfer json.txt" />
		<logger level="INFO" doc:name="Logger" doc:id="3ecc48f1-bb2c-4aea-923b-9a584d783e8f" message="#[payload]" />
	</sub-flow>
	<flow name="privateFlow1" doc:id="faa9af14-c72d-4e89-90ef-2ef18615cbf0" >
		<logger level="INFO" doc:name="Logger" doc:id="c68f6e22-da4c-4b12-b32b-6375dae946c7" message="hey this is private flow"/>
	</flow>
</mule>
