mulepro/src/main/mule/mulepro.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="c5b4db7a-a4d6-4880-ba3e-e8f6d9d1cd6e" >
		<file:connection workingDir="C:\Users\Srika\OneDrive\Desktop\input" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="4a9e36f6-0c5b-440f-aee2-88fd97b6bc58" >
		<file:connection workingDir="C:\Users\Srika\OneDrive\Desktop\New folder" />
	</file:config>
	<flow name="muleproFlow" doc:id="4bc0377d-126f-4483-abfa-14008804dc82" >
		<file:listener doc:name="On New or Updated File" doc:id="1cfeb20d-6338-43d4-9050-958137625322" config-ref="File_Config" directory="C:\Users\Srika\OneDrive\Desktop\input" moveToDirectory="C:\Users\Srika\OneDrive\Desktop\output">
			<scheduling-strategy >
				<fixed-frequency frequency="40" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="ab1eb922-252d-4027-a947-819c9c822477" message="#[payload]"/>
		<file:read doc:name="Read" doc:id="da8f82d0-b330-40d7-a61f-2851d582e94c" config-ref="File_Config" path="C:\Users\Srika\OneDrive\Desktop\tranfer json.txt"/>
		<file:move doc:name="Move" doc:id="d1538ac2-9db9-48a9-b2d0-3ed657d9f79f" config-ref="File_Config" sourcePath="C:\Users\Srika\OneDrive\Desktop\move" targetPath="C:\Users\Srika\OneDrive\Desktop\movetarget"/>
		<logger level="INFO" doc:name="Logger" doc:id="ecc48ecf-6dbb-4d11-9be2-6fa039145fbf" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="ecc48ecf-6dbb-4d11-9be2-6fa039145fbf" message="#[payload]"/>
	</flow>
</mule>
