practice/src/main/mule/practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76dffa73-e0a4-4a25-9b99-947d6488ed01" >
		<http:listener-connection host="${http.host}" port="${http.port}" readTimeout="3000"/>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="eaf338d3-3f27-420d-a016-7da7f25a8875" file="prop.yaml" />
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="84c48cfa-2d68-4a45-84b3-8cf147c61af6" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="practiceFlow" doc:id="0d2ad9a5-f322-4f28-8ed8-9c977cd2c58d" >
		<http:listener doc:name="Listener" doc:id="22f85c47-05da-40c0-ae7b-6d717b72fbec" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="e2125141-3e82-4ac4-a88f-fd8397a1c5f0" message="flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="43bd77d2-de06-4c8d-abfa-2074f952d212">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

 1 to 100 map
  {
 	"id": '0 to $$',
 	"name":"srikanth",
 	"lname":"than",
 	
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9de807ab-2e64-487a-b5a7-213407592415" message="#[payload]"/>
	</flow>
</mule>
